In [2]:
import pandas as pd
import numpy as np
from functools import reduce

In [3]:
#creating main dataframe of 15 ranked countries
def answer_one():
    energy = pd.read_excel('Energy Indicators.xls', skiprows=17, skipfooter=38)
    energy = energy.drop(energy.columns[[0, 1]], axis=1)
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy = energy.replace('...', np.nan)
    energy['Energy Supply'] *= 1000000
    energy['Country'] = energy['Country'].str.replace('\d+', '', regex = True)
    energy['Country'] = energy['Country'].str.replace(r'\(.*\)','', regex = True)
    energy['Country'] = energy['Country'].replace('Republic of Korea', 'South Korea')
    energy['Country'] = energy['Country'].replace('United States of America', 'United States')
    energy['Country'] = energy['Country'].replace('United Kingdom of Great Britain and Northern Ireland', 'United Kingdom')
    energy['Country'] = energy['Country'].replace('China, Hong Kong Special Administrative Region', 'Hong Kong')
    
    GDP = pd.read_csv('world_bank.csv', skiprows=4)
    GDP = GDP.rename(columns={'Country Name': 'Country'})
    GDP = GDP.drop(GDP.iloc[:, 1 : 50], axis=1)
    GDP = GDP.drop(GDP.iloc[:, 11:], axis=1)
    GDP['Country'] = GDP['Country'].replace('Korea, Rep.', 'South Korea')
    GDP['Country'] = GDP['Country'].replace('Iran, Islamic Rep.', 'Iran')
    GDP['Country'] = GDP['Country'].replace('Hong Kong SAR, China', 'Hong Kong')
    
    ScimEn = pd.read_excel('scimagojr country rank.xlsx')
    ScimEn = ScimEn.drop(['Region'], axis = 1)
    #merging
    data_frames = [ScimEn, energy, GDP]
    Top15 = reduce(lambda  left, right: pd.merge(left, right, on=['Country'], how='outer'), data_frames)
    Top15.set_index('Country', inplace = True)
    Top15 = Top15[Top15['Rank'] <= 15]
    return Top15
display(answer_one())

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1.0,303064.0,301778.0,3036531.0,2092737.0,10.02,273.0,1.271910e+11,93.0,19.754910,2.752132e+12,3.550343e+12,4.594307e+12,5.101703e+12,6.087164e+12,7.551500e+12,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13
United States,2.0,184851.0,181106.0,2623922.0,819242.0,14.19,389.0,9.083800e+10,286.0,11.570980,1.381559e+13,1.447423e+13,1.476986e+13,1.447806e+13,1.504896e+13,1.559973e+13,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13
India,3.0,60257.0,58589.0,590570.0,213760.0,9.80,198.0,3.319500e+10,26.0,14.969080,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
Japan,4.0,52780.0,52281.0,557023.0,132113.0,10.55,203.0,1.898400e+10,149.0,10.232820,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5.0,47141.0,45928.0,748994.0,132737.0,15.89,244.0,7.920000e+09,124.0,10.600470,2.717060e+12,3.106182e+12,2.938882e+12,2.425798e+12,2.491110e+12,2.674891e+12,2.719158e+12,2.803291e+12,3.087166e+12,2.956574e+12
Germany,6.0,42343.0,41464.0,528645.0,115432.0,12.48,211.0,1.326100e+10,165.0,17.901530,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7.0,39424.0,39189.0,142937.0,67935.0,3.63,96.0,3.070900e+10,214.0,17.288680,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.045926e+12,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12
Canada,8.0,35588.0,34940.0,665415.0,113363.0,18.70,246.0,1.043100e+10,296.0,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9.0,31260.0,29959.0,433388.0,105641.0,13.86,177.0,6.530000e+09,109.0,33.667230,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
South Korea,10.0,31200.0,30949.0,405923.0,74753.0,13.01,169.0,1.100700e+10,221.0,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
France,11.0,26848.0,26320.0,403834.0,73792.0,15.04,190.0,1.059700e+10,166.0,17.020280,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Iran,12.0,25481.0,25204.0,398571.0,122647.0,15.64,159.0,NaN,NaN,NaN,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
Spain,13.0,24969.0,24505.0,427391.0,77583.0,17.12,187.0,4.923000e+09,106.0,37.968590,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324744e+12,1.355143e+12,1.371223e+12,1.195600e+12
Brazil,14.0,23110.0,22762.0,219895.0,53635.0,9.52,139.0,1.214900e+10,59.0,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12
Australia,15.0,22803.0,22276.0,396186.0,62694.0,17.37,192.0,5.386000e+09,231.0,11.810810,7.475562e+11,8.539554e+11,1.055127e+12,9.280430e+11,1.147589e+12,1.397908e+12,1.546509e+12,1.576335e+12,1.467505e+12,1.350534e+12

In [4]:
#average GDP sorted in descendang order
def answer_two():
    Top15 = answer_one()
    avgGDP = pd.Series(index = Top15.index, dtype = 'float64')
    avgGDP = Top15.iloc[:, 10:].mean(axis = 1)
    avgGDP.sort_values(ascending = False, inplace = True)
    return avgGDP
display(answer_two())

Country
United States         1.570403e+13
China                 6.927702e+12
Japan                 5.239642e+12
Germany               3.523342e+12
United Kingdom        2.792011e+12
France                2.691337e+12
Italy                 2.142986e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.400727e+12
South Korea           1.221372e+12
Australia             1.207106e+12
Iran                  4.563261e+11
dtype: float64

In [5]:
#6th largest average GDP country, how much GDP changed from 2006 to 2015
def answer_three():
    Top15_awGDP = answer_two()
    Top6_name = Top15_awGDP.index[5]
    Top15 = answer_one()
    change = Top15.loc[Top6_name]['2015'] - Top15.loc[Top6_name]['2006']
    return change
print(answer_three())

118652421857.7998

In [6]:
#highest Self-citation/citations ratio
def answer_four():
    Top15 = answer_one()
    Top15.insert(6,'Self-citation/citations', 0)
    Top15['Self-citation/citations'] = Top15['Self-citations'] / Top15['Citations']
    Top15['Self-citation/citations'] = pd.to_numeric(Top15['Self-citation/citations'])
    max_row = Top15.loc[Top15['Self-citation/citations'].idxmax()]
    max_name = [max_row.name, max_row.at['Self-citation/citations']]
    return max_name
print(answer_four())

['China', 0.689186772669207]

In [7]:
#country with 3rd highest estimated population
def answer_five():
    Top15 = answer_one()
    Top15.insert(7,'Population', 0)
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Population'] = Top15['Population'].fillna(0)
    Top3 = Top15['Population'].nlargest(3)
    return Top3.index[2]
display(answer_five())

'United States'

In [8]:
#correlation between Citable documents per capita and Energy Supply per Capita
def answer_six():
    Top15 = answer_one()
    Top15.insert(7,'Population', 0)
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15.insert(8,'Citable documents per capita', 0)
    Top15['Citable documents per capita'] = Top15['Citable documents'] / Top15['Population']
    corr_capita = Top15['Citable documents per capita'].corr(Top15['Energy Supply per Capita'])
    return corr_capita
display(answer_six())

0.7215399286530993

In [10]:
#Statistics on continents and population
def answer_seven():
    Top15 = answer_one()
    Top15.insert(7,'Population', 0)
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    stats = pd.DataFrame(index = ['Asia', 'Australia', 'Europe', 'North America', 'South America'], 
                         columns = ['size', 'sum', 'mean', 'std'])
    stats.index.name = 'Continent'
    #sorting given dict
    sorted_dict = {}
    for i, v in ContinentDict.items():
        sorted_dict[v] = [i] if v not in sorted_dict.keys() else sorted_dict[v] + [i]
    Cont_df = pd.DataFrame.from_dict({ key:pd.Series(value) for key, value in sorted_dict.items() })
    size_ser = Cont_df.count()
    stats['size'] = size_ser
    #filling series of population values for each continent
    data_Asia = Top15.loc[Cont_df['Asia'].dropna(), 'Population']
    data_NA = Top15.loc[Cont_df['North America'].dropna(), 'Population']
    data_SA = Top15.loc[Cont_df['South America'].dropna(), 'Population']
    data_Au = Top15.loc[Cont_df['Australia'].dropna(), 'Population']
    data_Eu = Top15.loc[Cont_df['Europe'].dropna(), 'Population']
    #sum
    stats.at['Asia', 'sum'] = data_Asia.sum()
    stats.at['North America', 'sum'] = data_NA.sum()
    stats.at['South America', 'sum'] = data_SA.sum()
    stats.at['Australia', 'sum'] = data_Au.sum()
    stats.at['Europe', 'sum'] = data_Eu.sum()
    #mean
    stats.at['Asia', 'mean'] = data_Asia.mean()
    stats.at['North America', 'mean'] = data_NA.mean()
    stats.at['South America', 'mean'] = data_SA.mean()
    stats.at['Australia', 'mean'] = data_Au.mean()
    stats.at['Europe', 'mean'] = data_Eu.mean()
    #std
    stats.at['Asia', 'std'] = data_Asia.std()
    stats.at['North America', 'std'] = data_NA.std()
    stats.at['South America', 'std'] = data_SA.std()
    stats.at['Australia', 'std'] = data_Au.std()
    stats.at['Europe', 'std'] = data_Eu.std()
    return stats
display(answer_seven())

               size               sum              mean               std
Continent
Asia              5   2821590756.3585  705397689.089625  713877879.434034
Australia         1   23316017.316017   23316017.316017               NaN
Europe            6  457929667.216372   76321611.202729   34647667.065623
North America     2   352855249.48025  176427624.740125  199669644.856668
South America     1  205915254.237288  205915254.237288               NaN